Checks:          '-*,cppcoreguidelines-*,modernize-*,cert-*,-cppcoreguidelines-macro-usage,-cppcoreguidelines-avoid-magic-numbers'
WarningsAsErrors: '-*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
